/*  This page styles elements on the Queen Man game page.

    Written by Alex Chalyy on 2/10/2019.    */

    /*  This puts the Queen logo image at the top center of the page. */

    #q  {
        width: 60%;
        margin-left: 18%;
    }

    /*  This styles the bootstrap card. */

    #c1 {
        color: red;
        border-color: red;
        margin-top: 10%;
    }

    /*  This styles the title of the game. */

    .card-title {
        margin-left: 18%;
    }

    /*  Media query for small screens, reduces the size of the card.    */

    @media only screen and (max-height: 414px) {

        .card {
            height: 95%;
        }

        #q  {
            width: 20%;
            margin-left: 37%;
        }

        .card-title,
        #press,
        #win,
        #current,
        #remain,
        #already  {
            font-size: small;
        }

        .card-title {
            padding-left: 20%;
        }

        .row    {
            margin-top: -5%;
        }
      }